alias zshconfig="code ~/.zshrc"
alias p10kconfig="code ~/.p10k.zsh"
alias dotfiles="code ${PROJECTS}/dotfiles/"
alias awsconfig="code ~/.aws/config"
alias kubeconfig="code ~/.kube/config"
alias etchosts="sudo vim /etc/hosts"
alias claudeconfig="code ~/.claude/settings.json"
alias cco="claude --ide --chrome --dangerously-skip-permissions --effort max --verbose"
alias ccop="cco --plugin-dir $PROJECTS/tokenoverflow/integrations/claude"
alias sshconfig="code ~/.ssh/config"